API_AUTH = 'http://localhost:8080/api/v3/detectors/authenticate/'
WS_HOST = 'ws://localhost:8081/api'
DETECTOR = '5dd99d1d41768b0e5105ceb7'
PASSWORD = 'asdt2019'

OUTPUT_PATH = './output/'

DETECTOR_LIST = [
  {
    'sn':  '000000000000001', 
    'lat': 41.7, 'lon': 1.8, 
    'timeout': 2000, 
    'gpx': None 
  },
  {
    'sn': '000000000000002', 
    'lat': 41.5, 'lon': 1.4, 
    'timeout': 5000, 
    'gpx': None 
  },
]